@import "tailwindcss";

:root {
  font-family: Aptos Narrow;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ag-theme-alpine .custom-header {
  background-color: #f3f4f6 !important; /* Light gray background */
  font-weight: bold;
  text-align: center;
  padding-right: 12px; /* Add space to the right of text */
  padding-left: 12px;  /* Add space to the left of text */
  border-right: 2px solid #d1d5db !important; /* Vertical separator */
}

.ag-theme-alpine .custom-header:last-child {
  border-right: none !important; /* Remove right border from last column */
}
.ag-theme-alpine .ag-cell.city-cell {
  border-right: 2px solid #d1d5db !important; /* Light gray vertical line */
}

/* Ensure all rows in City column have the separator */
.ag-theme-alpine .ag-row .ag-cell.city-cell {
  border-right: 2px solid #d1d5db !important;
}
.ag-theme-alpine .ag-cell[row-drag] {
  cursor: grab;
}

.ag-theme-alpine .ag-cell[row-drag]:active {
  cursor: grabbing;
}

.ag-theme-alpine .ag-cell.gm-high {
  background-color: green !important;
  color: white !important;
}

.ag-theme-alpine .ag-cell.gm-medium {
  background-color: orange !important;
  color: black !important;
}

.ag-theme-alpine .ag-cell.gm-low {
  background-color: red !important;
  color: white !important;
}
